html {
  font-family: ‘Lato’, ‘Arial’, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #555;
  text-rendering: optimizeLegibility;
  cursor: url("../../ressource/img/cursor.png"), pointer;
}

header {
  background: linear-gradient(to bottom, transparent, black), url(image/wow.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

body {
  background-color: black;
}

a:hover{
  cursor: url("../../ressource/img/cursor.png"), pointer;
}
/*------Titre----*/

.title h1 {
  color: #dfe4ea;
  font-size: 80px;
}

.title p {
  color: #e17055;
  font-size: 35px;
}

.title {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 1940px;
}

/*--------Navigation------*/

nav li {
  letter-spacing: 3px;
  padding: 15px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 25px;
  font-family: ;
}

nav li a {
  color: #e17055;
}

nav li a:hover {
  color: white;
  text-decoration: none;
  background: #000046;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  background: linear-gradient(to right, #1CB5E0, #000046);
  border-radius: 10px;
}

.row {
  margin: 0 auto;
}

.main-menu {
  position: relative;
  float: right;
  right: 25%
}

/*----------------------Footer/Newsletter----------*/

footer {
  padding-top: 285px;
}

.news {
  position: absolute;
  margin-left: 0;
}

.deco-foot {
  position: relative;
  left: 80%;
}

/*-------------------Article-----------*/

.picture {
  position: relative;
  margin-left: 155px;
  margin-top: 85px;
}

h2 {
  font-family: 'Playfair Display SC', serif;
  color: #fff;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 10px;
  padding-left: 14%;
}

h3 {
  color: #e17055;
  font-family: 'Bangers', cursive;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 2px;
  padding-left: 22%
}

section p {
  font-family: 'Forum', cursive;
  font-weight: 400;
  width: 900px;
  font-size: 30px;
  color: white;
  border-left: 5px solid #e17055;
  padding-left: 55px;
  margin-top: 55px;
}

section .article {
  display: flex;
}

.video {
  position: relative;
  width: 600px;
  height: 680px;
  padding-top: ;
  padding-left: 550px;
}

section {
  margin-top: 250px;
}

section li {
  text-decoration: none;
  letter-spacing: 3px;
  padding: 15px;
  margin-left: 166px;
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Bangers', cursive;
  display: inline-block;
}

section li a {
  text-decoration: none;
  color: white;
  border: 6px solid #e17055;
  background-color: #e17055;
  border-radius: 10px;
}

section li a:hover {
  text-decoration: none;
  color: #e17055;
  background-color: white;
  border: 6px solid white;
  border-radius: 10px;
}
